@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* *{
  outline: 1px solid red;
} */

html,
body,
#root,
.home,
.content {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

.sidebarContainer {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}

.mainBlock {
  width: calc(100vw - 200px);
  left: 200px;
  position: relative;
}

.img-api {
  width: 2rem;
}

.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000;
  font-weight: bold;
}

/* .home {
  display: flex;
  position: relative;
} */

/* .mainApp {
  width: 100vw;
  min-height: 100vh;
  display: flex;
} */

/* .topBar {
  position: sticky;
  z-index: 200;
  top: 0;
  margin-top: 10rem;
} */

.sideDetails {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  list-style: none;
  padding-left: 5px;
}

.box {
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
}

.red {
  background: red;
}

.green {
  background: green;
}
